@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
  border: none;
}

@layer components {
  .heading {
    @apply text-[32px] leading-[48px] font-bold text-dgrap;
  }
  .paragraph {
    @apply text-[16px] leading-[24px] text-gray;
  }
  .label {
    @apply text-[12px] leading-[18px] text-dgrap;
  }
  .input-container {
    @apply border border-bcolor rounded-lg flex items-center gap-2 p-3 focus-within:shadow-xl focus-within:border-purple;
  }
  .err {
    @apply absolute top-0 right-0 text-red xs:static;
  }
}
